CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.vs/
out/
vcpkg/
conf/ca/cert_chain.pem
conf/ca/private_key.pem